<!doctype html>
<html lang="en">

<head>
  <title>Welcome</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <!-- Material Kit CSS -->
  <link href="{{ url_for('static',filename='assets/css/material-kit.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static',filename='MDB-Free_4/css/mdb.min.css') }}" rel="stylesheet" />


</head>

<body class="index-page sidebar-collapse">
  <nav class="navbar navbar-transparent navbar-color-on-scroll fixed-top navbar-expand-lg" color-on-scroll="100" id="sectionsNav">
    <div class="container">
                <div class="navbar-translate">
                  <a class="navbar-brand" href="/home">Home</a>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                  </button>
                </div>
                <div class="collapse navbar-collapse">
                  <ul class="navbar-nav">
                    <li class="nav-item"><a href="/jobpage" class="nav-link">On Campus Jobs</a></li>
                      <li class="nav-item"><a href="/housing" class="nav-link">Housing</a></li>
                    <li class="nav-item"><a href="/books" class="nav-link">Book Resources</a></li>
                    <li class="nav-item"><a href="/freefood" class="nav-link">Free Food Event</a></li>
                    <li class="nav-item"><a href="/reciepe" class="nav-link">Food Receipts</a></li>
                      <li class="nav-item"><a href="/pricefinder" class="nav-link">Price Finder</a></li>
                      <li class="nav-item active"><a href="/transportation" class="nav-link">Transportation</a></li>
                  </ul>
                </div>
              </div>
  </nav>
  <div class="page-header header-filter" data-parallax="true" style="background-image: url('{{ url_for('static',filename='img/asoggetti-LFjxCbhs0QM-unsplash.jpg') }}')">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <div class="animated fadeInUp brand text-center">
            <h1>Welcome</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="main main-raised">
    <div class="container">
      <div class="section text-left">


          <div class="animated fadeInUp card card-nav-tabs">
                <div class="card-header card-header-primary">
                  <!-- colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger" -->
                  <div class="nav-tabs-navigation">
                    <div class="nav-tabs-wrapper">
                      <ul class="nav nav-tabs" data-tabs="tabs">
                        <li class="nav-item">
                          <a class="nav-link active" href="#profile" data-toggle="tab">
                            <i class="material-icons">face</i>
                            Advertised Cost
                          </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#messages" data-toggle="tab">
                            <i class="material-icons">chat</i>
                            Net Cost
                          </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#settings" data-toggle="tab">
                            <i class="material-icons">build</i>
                            Financial Aid
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="card-body ">
                  <div class="tab-content text-center">
                    <div class="wow fadeInUp tab-pane active" id="profile">
                      <h3>{{college}}</h3>

                      {% for row in AdCost %}
                      <li>{{ row[0]|e }} : {{ row[1]|e }} </li>
                    {% endfor %}

                    </div>
                    <div class="animated fadeInUp tab-pane" id="messages">
                        <h3>{{college}}</h3>
                        {% for row in NetCost %}
                      <li>{{ row[0]|e }} : {{ row[1]|e }} </li>
                    {% endfor %}


                    </div>
                    <div class="animated fadeInUp tab-pane" id="settings">
                        <h3>Annual Income: {{income}}</h3>
                        {% for row in FA %}
                      <li>{{ row[0]|e }} : {{ row[1]|e }} </li>
                    {% endfor %}
                    </div>
                  </div>
                </div>
      </div>
         <div class="container text-center">
            <div class = "section text-center">
                <h3>  "Ways to Save for College!" </h3>
              </div>
            <div class="row">
                <div class="col-sm">
                  <div class="wow fadeInUp card" >
  <a href="/books"><img class="card-img-top" src="https://www.incimages.com/uploaded_files/image/1920x1080/getty_883231284_200013331818843182490_335833.jpg" rel="nofollow" alt="Card image cap">
  </a>
      <div class="card-body">
    <p class="card-text">Buy or rent cheaper books</p>
  </div>
</div>
                </div>
                <div class="col-sm">
                  <div class="wow fadeInUp card" >
  <a href="/jobpage"><img class="card-img-top" src="https://cdn.uconnectlabs.com/wp-content/uploads/sites/21/2016/11/Handshake-Job-Search-480x270.png?v=6778" rel="nofollow" alt="Card image cap">
  </a><div class="card-body">
    <p class="card-text">Explore on-campus jobs</p>
  </div>
</div>
                </div>


              </div>

           <div class="row">
                <div class="col-sm">
                  <div class="wow fadeInUp card" >
  <a href="/freefood"><img class="card-img-top" src="https://sd.keepcalms.com/i/keep-calm-and-eat-free-food.png" rel="nofollow" alt="Card image cap">
  </a>
      <div class="card-body">
    <p class="card-text">Food events</p>
  </div>
</div>
                </div>
                <div class="col-sm">
                  <div class="wow fadeInUp card" >
  <a href="/reciepe"><img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTkrCNamJmYdGUikvAFOs0avwWsrsM2H3t8ZA&usqp=CAU" rel="nofollow" alt="Card image cap">
  </a>
      <div class="card-body">
    <p class="card-text">Cook your own foods</p>
  </div>
</div>
                </div>


              </div>



    </div>
  </div>
    </div>
  </div>
  <footer class="footer footer-default">
    <div class="container">

    </div>
  </footer>
</body>

 <script src="{{url_for('static',filename='assets/js/core/jquery.min.js')}}" type="text/javascript"></script>
  <script src="{{ url_for('static',filename='assets/js/core/popper.min.js')}}" type="text/javascript"></script>
  <script src="{{ url_for('static',filename='assets/js/core/bootstrap-material-design.min.js')}}" type="text/javascript"></script>
  <script src="{{ url_for('static',filename='assets/js/plugins/moment.min.js')}}"></script>

  <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
  <script src=" {{ url_for('static',filename='assets/js/plugins/nouislider.min.js')}}" type="text/javascript"></script>
  <!--  Google Maps Plugin    -->
  <!-- Control Center for Material Kit: parallax effects, scripts for the example pages etc -->
  <script src="{{ url_for('static',filename='assets/js/material-kit.js')}}?v=2.0.7" type="text/javascript"></script>
 <script type="text/javascript" src="{{ url_for('static',filename='MDB-Free_4/js/mdb.min.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='wow.js')}}"></script>

</html>