<!DOCTYPE html>
<html lang="en">
<head>
	<title>Welcome</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='StarterPage/vendor/bootstrap/css/bootstrap.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='StarterPage/fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}"  >
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='StarterPage/fonts/iconic/css/material-design-iconic-font.min.css') }}" >
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='StarterPage/vendor/animate/animate.css') }}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='StarterPage/vendor/css-hamburgers/hamburgers.min.css') }}"  >
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='StarterPage/vendor/animsition/css/animsition.min.css') }}"  >
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='StarterPage/vendor/select2/select2.min.css') }}"  >
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='StarterPage/vendor/daterangepicker/daterangepicker.css') }}" >
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='StarterPage/css/util.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='StarterPage/css/main.css') }}">
<!--===============================================================================================-->
</head>
<body>
	
	
	<div class="container-login100" style="background-image: url('{{ url_for('static',filename='StarterPage/images/bg-01.jpg') }}');">
		<div class="wrap-login100 p-l-55 p-r-55 p-t-80 p-b-30">

			<form  method="POST" class="login100-form validate-form">
				<span class="login100-form-title p-b-37">
					Welcome
				</span>

				<div class="wrap-input100 validate-input m-b-20" data-validate="Enter college name">
					<input class="input100" type="text" name="college" placeholder="College name">
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input m-b-25" data-validate = "Enter annual income">
					<input class="input100" type="text" name="income" placeholder="Annual income">
					<span class="focus-input100"></span>
				</div>

				<div class="container-login100-form-btn">
					<input class="login100-form-btn" type="submit" value="Continue"/>

				</div>




			</form>

			
		</div>
	</div>
	
	

	<div id="dropDownSelect1"></div>
	
<!--===============================================================================================-->
	<script src="{{ url_for('static',filename='StarterPage/vendor/jquery/jquery-3.2.1.min.js') }}" ></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static',filename='StarterPage/vendor/animsition/js/animsition.min.js') }}"  ></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static',filename='StarterPage/vendor/bootstrap/js/popper.js') }}" ></script>
	<script src="{{ url_for('static',filename='StarterPage/vendor/bootstrap/js/bootstrap.min.js') }}" ></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static',filename='StarterPage/vendor/select2/select2.min.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static',filename='StarterPage/vendor/daterangepicker/moment.min.js') }}"></script>
	<script src="{{ url_for('static',filename='StarterPage/vendor/daterangepicker/daterangepicker.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static',filename='StarterPage/vendor/countdowntime/countdowntime.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static',filename='StarterPage/js/main.js') }}" ></script>

</body>
</html>